<div nz-row [nzGutter]="25">
    <!-- skeleton -->
    <ng-template #loadingSkeleton>
        <nz-skeleton class="bg-white dark:bg-white/10 rounded-6 p-[30px] pt-[15px]" [nzShape]="circle" [nzActive]="true"
            [nzParagraph]="{ rows: 4 }"></nz-skeleton>
    </ng-template>
    <!-- skeleton -->

    <div nz-col nzXs="6" >
        <ng-container>
          <div
            class="bg-white dark:bg-white/10 m-0 p-0 text-theme-gray dark:text-white/60 text-[15px] rounded-10 relative mb-[25px]">
            <div
              class="py-[16px] px-[25px] text-dark dark:text-white/[.87] font-medium text-[17px] border-regular dark:border-white/10 border-b">
              <h4 class="mb-0 text-lg font-medium text-dark dark:text-white/[.87]">Busqueda</h4>
            </div>
            <div class="p-[25px]">
              <form nz-form>
  
                <nz-form-item class="mb-[25px]">
                    <nz-form-label class="flex items-center font-medium dark:text-white/60 mb-[10px]" nzXs="24"
                      nzFor="textarea1">Centro
                    </nz-form-label>
                    <nz-form-control nzXs="24">
                      <nz-select  nzAllowClear nzPlaceHolder="Selecciona un centro" (ngModelChange)="onCentroChange($event)" class="basic-select" name="basicSelect" ngModel="jack">
                        <nz-option *ngFor="let option of centros" [nzLabel]="option.descripcion" [nzValue]="option.id">
                        </nz-option>
                      </nz-select>
                    </nz-form-control>
                  </nz-form-item>
              </form>
            </div>
          </div>
        </ng-container>
      </div>

    <div nz-col nzXs="18" class="mb-[25px]">
        <ng-container >

            <div nz-row nzGutter="25">
                <div nz-col nzXXl="24" nzXl="24" nzXs="24">
                    <div class="calendar-container">
                        <full-calendar [resources]="resources" class="calendar-container relative bg-white main-calendar dark:bg-white/10 rounded-10 p-[25px] overflow-x-auto" *ngIf='calendarVisible()' [options]='calendarOptions()'>
                          <ng-template #eventContent let-arg>
                            <div [ngClass]="['rounded-4 px-[5px] overflow-x-hidden w-full bg-' + arg.event.extendedProps.label]">
                              <h6 class="text-[15px] text-white font-normal capitalize">{{ arg.event.title }}</h6>
                              <p class="text-[13px] text-white" *ngIf="arg.event.extendedProps.description">{{ arg.event.extendedProps.description }}</p>
                              <div class="{{arg.event.extendedProps.label}}"></div>
                            </div>
                          </ng-template>
                        </full-calendar>
                      </div>

                </div>
            </div>
        </ng-container>
    </div>
</div>