<ng-template #loadingSkeleton>
    <nz-skeleton class="bg-white dark:bg-white/10 rounded-6 p-[30px] pt-[15px]" [nzShape]="circle" [nzActive]="true"
      [nzParagraph]="{ rows: 6 }"></nz-skeleton>
  </ng-template>
  <!-- skeleton -->
  <ng-container *ngIf="showContent; else loadingSkeleton">
    <div class="bg-white dark:bg-white/10 rounded-10 checkout mb-[30px] px-[30px] pt-[50px] pb-[70px]">
      <div nz-row gutter="25" nzJustify="center">
          <div nz-col nzXs="24" nzXXl="24">
            <div>
              <nz-steps class="max-md:flex-col max-md:justify-center max-md:gap-[20px]" [nzCurrent]="current">
                <nz-step class="max-md:p-0" [nzStatus]="getStatus(0)" nzTitle="Busqueda"></nz-step>
                <nz-step class="max-md:p-0" [nzStatus]="getStatus(1)" nzTitle="Entrega de materiales"></nz-step>
                <nz-step class="max-md:p-0" [nzStatus]="getStatus(2)" nzTitle="Fecha y horario"></nz-step>
                <nz-step class="last max-md:p-0" [nzStatus]="isReviewOrderFinished ? 'finish' : getStatus(3)" nzTitle="Confirmación"></nz-step>
              </nz-steps>
  
              <div nz-row nzJustify="center">
                <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
                  <div class="steps-content mt-[44px] border-dashed border-1 border-normal dark:border-white/10 p-[30px]  rounded-10 min-h-[200px] pt-[30px]">
                    <div *ngIf="!showConfirmation; else confirmationContent">
                      <div *ngIf="current === 0">
                        <!-- Custom form markup for the first step -->
                        <busqueda-ordenes-compra [razonesSociales]="razonesSociales"></busqueda-ordenes-compra>
                      </div>
                      <div *ngIf="current === 1">
                        <!-- Custom form markup for the second step -->
                        <entrega-materiales></entrega-materiales>
                      </div>
                      <div *ngIf="current === 2">
                        <!-- Custom form markup for the third step -->
                        <fecha-anden></fecha-anden>
                      </div>
                      <div *ngIf="current === 3">
                        <!-- Custom form markup for the fourth step -->
                        <confirmacion></confirmacion>
                      </div>
                    </div>
                    <ng-template #confirmationContent>
                      <div class="text-center">
                        <span class="text-[40px] dark:[&>svg>path:nth-child(2)]:fill-transparent" nz-icon [nzType]="'check-circle'" [nzTheme]="'twotone'" [nzTwotoneColor]="'#52c41a'"></span>
                        <p class="text-[20px] text-dark dark:text-white/[.87] font-medium mt-[20px] mb-[10px]">Cita agendada correctamente</p>
                        <span class="text-theme-gray dark:text-white/60 text-[15px]">La cita para entrega de materiales se asigno correctamente.</span>
                      </div>
                    </ng-template>
                  </div>
                  <div class="mt-[25px] flex justify-between items-center">
                    <button class="bg-white dark:bg-transparent inline-flex items-center outline-none shadow-none w-fit duration-300 text-theme-gray dark:text-white/60 capitalize px-[20px] text-[15px] border-normal dark:border-white/10 dark:hover:border-white/20 border-1 rounded-[5px] gap-[8px] h-[46px]"  nz-button (click)="pre()" *ngIf="current > 0 && !showConfirmation">
                      <span class="text-light" nz-icon nzType="arrow-left" nzTheme="outline"></span>
                      <span>Previous</span>
                    </button>
                    <button class="bg-primary hover:bg-primary-hbr inline-flex items-center outline-none shadow-none w-fit duration-300 text-white capitalize px-[20px] text-[15px] border-primary hover:border-primary-hbr rounded-[5px] gap-[8px] h-[46px]" nz-button nzType="primary" (click)="next()" *ngIf="current < 3 && !showConfirmation">
                      <span>Save & Next</span>
                      <span nz-icon nzType="arrow-right" nzTheme="outline"></span>
                    </button>
                    <button class="bg-primary hover:bg-primary-hbr inline-flex items-center outline-none shadow-none w-fit duration-300 text-white capitalize px-[20px] text-[15px] border-primary hover:border-primary-hbr rounded-[5px] gap-[8px] h-[46px]" nz-button nzType="primary" (click)="confirm()" *ngIf="current === 3 && !showConfirmation">
                      <span>Done</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </ng-container>
  