<div nz-row [nzGutter]="25">
    <!-- skeleton -->
    <ng-template #loadingSkeleton>
      <nz-skeleton class="bg-white dark:bg-white/10 rounded-6 p-[30px] pt-[15px]" [nzShape]="circle" [nzActive]="true"
        [nzParagraph]="{ rows: 4 }"></nz-skeleton>
    </ng-template>
    <!-- skeleton -->
  
    <nz-modal
      [(nzVisible)]="isVisible"
      [nzTitle]="modalTitle"
      [nzContent]="modalContent"
      [nzFooter]="modalFooter"
      (nzOnCancel)="handleCancel()"
    >
      <ng-template #modalTitle>Tipo de entrega</ng-template>

      <ng-template #modalContent>
        <div class="p-[25px]">
          <div style="width: 100%;">
            <nz-radio-group [(ngModel)]="radioValue" nzSize="large" style="width: 100%;" (nzOnChange)="log($event)">
              <label style="width: 50%; text-align: center;" class="px-[25px] py-[15px] h-auto ltr:rounded-l-6 rtl:rounded-r-6" nz-radio-button nzValue="Almacen">Almacen</label>
              <label style="width: 50%; text-align: center;" class="px-[25px] py-[15px] h-auto ltr:rounded-r-6 rtl:rounded-l-6 rtl:before:hidden" nz-radio-button nzValue="Paqueteria">Paqueteria</label>
            </nz-radio-group>
            <br />
            <br />
            <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()" *ngIf="radioValue=='Almacen'">
              <nz-form-item>
                  <nz-form-control nzErrorTip="Campo requerido.">
                    <nz-form-label class="text-[15px] font-semibold text-dark capitalize mb-[10px]">Fecha de entrega</nz-form-label>
                    <input formControlName="inicio" style="color:white" class="w-full rounded-4 border-normal border-1 text-[15px] dark:bg-white/10 dark:border-white/10 px-[20px] py-[12px] h-[46px] outline-none placeholder:text-[#A0A0A0] text-theme-gray dark:text-white/60" type="text" nz-input >
                  </nz-form-control>
                
                  <nz-form-control nzXs="1">
                
                  </nz-form-control>

                 <nz-form-control nzErrorTip="Campo requerido.">
                   <nz-form-label class="text-[15px] font-semibold text-dark capitalize mb-[10px]">Hasta</nz-form-label>
                   <input formControlName="termino" style="color:white" class="w-full rounded-4 border-normal border-1 text-[15px] dark:bg-white/10 dark:border-white/10 px-[20px] py-[12px] h-[46px] outline-none placeholder:text-[#A0A0A0] text-theme-gray dark:text-white/60" type="text" nz-input #nombre>
                 </nz-form-control>
               </nz-form-item>
             </form>

             <form nz-form [formGroup]="validateForm_paqueteria" (ngSubmit)="submitForm()" *ngIf="radioValue=='Paqueteria'">
              <nz-form-item>
                  <nz-form-control nzErrorTip="Campo requerido.">
                    <nz-form-label class="text-[15px] font-semibold text-dark capitalize mb-[10px]">Fecha de entrega</nz-form-label>
                    <input formControlName="fecha" style="color:white" class="w-full rounded-4 border-normal border-1 text-[15px] dark:bg-white/10 dark:border-white/10 px-[20px] py-[12px] h-[46px] outline-none placeholder:text-[#A0A0A0] text-theme-gray dark:text-white/60" type="text" nz-input >
                  </nz-form-control>
               </nz-form-item>
             </form>

          </div>
        </div>
      </ng-template>

      <ng-template #modalFooter>
        <button disabled="{{radioValue == null}}" class="bg-primary hover:bg-primary-hbr hover:border-primary-hbr border-solid border-1 border-primary text-white dark:text-white/[.87] text-[14px] font-semibold leading-[22px] inline-flex items-center justify-center rounded-[4px] px-[20px] h-[44px]" nz-button nzType="primary" (click)="handleOk()" [nzLoading]="btnLoading">Guardar</button>
      </ng-template>
    </nz-modal>

    <div nz-col nzXs="24" class="mb-[25px]">
      <!-- New Contact -->
      <div class="flex items-center justify-center md:justify-end">
       <button class="flex items-center px-[14px] text-sm text-white rounded-md font-semibold bg-primary border-primary h-10 gap-[6px]" (click)="showNew()" nz-button >
         <i class="text-[12px]" nz-icon nzType="plus"></i>
         <span class="m-0">Nueva cita</span>
       </button>
     </div>
       <!-- end: New Contact -->
    </div>

    <div nz-col nzXs="24" class="mb-[25px]">
      <ng-container *ngIf="showContent; else loadingSkeleton">
        
<div nz-row nzGutter="25">
    <div nz-col nzXXl="24" nzXl="24" nzXs="24" >
      <div class="calendar-container">
        <full-calendar style="height: 800px!important;" class="calendar-container relative bg-white main-calendar dark:bg-white/10 rounded-10 p-[25px] overflow-x-auto" *ngIf='calendarVisible()' [options]='calendarOptions()'>
          <ng-template #eventContent let-arg>
            <div [ngClass]="['rounded-4 px-[5px] overflow-x-hidden w-full bg-' + arg.event.extendedProps.label]">
              <h6 class="text-[15px] text-white font-normal capitalize">{{ arg.event.title }}</h6>
              <p class="text-[13px] text-white" *ngIf="arg.event.extendedProps.description">{{ arg.event.extendedProps.description }}</p>
              <div class="{{arg.event.extendedProps.label}}"></div>
            </div>
          </ng-template>
        </full-calendar>
      </div>
    
    </div>
  </div>
      </ng-container>
    </div>
  </div>
  