<div nz-row nzGutter="25">
    <!-- skeleton -->
    <ng-template #loadingSkeleton>
      <nz-skeleton class="bg-white dark:bg-white/10 rounded-6 p-[30px] pt-[15px]" [nzShape]="circle" [nzActive]="true"
        [nzParagraph]="{ rows: 6 }"></nz-skeleton>
    </ng-template>
    <!-- skeleton -->
  
  
    
    <div nz-col nzXs="24" class="mb-[25px]">
      <ng-container *ngIf="showContent; else loadingSkeleton">
        <div
          class="bg-white dark:bg-white/10 m-0 p-0 text-theme-gray dark:text-white/60 text-[15px] rounded-10 relative h-full">
          <div
            class="py-[16px] px-[25px] text-dark dark:text-white/[.87] font-medium text-[17px] border-regular dark:border-white/10 border-b">
            <h4 class="mb-0 text-lg font-medium text-dark dark:text-white/[.87]">Nuevo mensaje</h4>
          </div>
          <div class="p-[25px]">
            <form nz-form>
              <nz-form-item>
                <nz-form-label class="flex items-center font-medium dark:text-white/60" nzXs="3" nzFor="text2">Titulo</nz-form-label>
                <nz-form-control nzXs="21">
                  <input
                    class="w-full rounded-4 border-normal border-1 text-[15px] dark:bg-white/10 dark:border-white/10 px-[20px] py-[12px] h-[46px] outline-none placeholder:text-[#A0A0A0] text-theme-gray dark:text-white/60"
                    nz-input name="text2" type="text" id="text2">
                </nz-form-control>
              </nz-form-item>

              <nz-form-item>
                <nz-form-label class="flex items-center font-medium dark:text-white/60" nzXs="3" nzFor="text2">Tipo</nz-form-label>
                <nz-form-control nzXs="21">
                  <input
                    class="w-full rounded-4 border-normal border-1 text-[15px] dark:bg-white/10 dark:border-white/10 px-[20px] py-[12px] h-[46px] outline-none placeholder:text-[#A0A0A0] text-theme-gray dark:text-white/60"
                    nz-input name="text2" type="text" id="text2">
                </nz-form-control>
              </nz-form-item>

              <nz-form-item>
                <nz-form-label class="flex items-center font-medium dark:text-white/60" nzXs="24" nzFor="text2">Mensaje</nz-form-label>
                <nz-form-control nzErrorTip="Ingresa una descripción." nzXs="24">
                  <div class="p-[25px]">
                    <div *nzIf=""></div>
  
                    <div *ngIf="isDarkMode(); then thenTemplateName else elseTemplateName"></div>
  
                    <ng-template #thenTemplateName>
                      <editor [init]="{
                      plugins: 'lists table code help wordcount',
                      toolbar: 'undo redo | bold italic underline strikethrough | fontselect fontsizeselect formatselect | alignleft aligncenter alignright alignjustify | outdent indent | numlist bullist | forecolor backcolor removeformat | pagebreak | charmap emoticons | ltr rtl',
                      skin: 'oxide-dark',
                      content_css: 'dark'
                    }"></editor>
                    </ng-template>
  
                    <ng-template #elseTemplateName>
                      <editor [init]="{
                    plugins: 'lists table code help wordcount',
                    toolbar: 'undo redo | bold italic underline strikethrough | fontselect fontsizeselect formatselect | alignleft aligncenter alignright alignjustify | outdent indent | numlist bullist | forecolor backcolor removeformat | pagebreak | charmap emoticons | ltr rtl',
                      
                    }"></editor>
                    </ng-template>
                  </div>
                </nz-form-control>
              </nz-form-item>

              <nz-form-item>
                <nz-form-label class="flex items-center font-medium dark:text-white/60" nzLg="6" nzMd="9" nzXs="24"
                  nzFor="text3">Small Input
                </nz-form-label>
                <nz-form-control nzLg="18" nzMd="15" nzXs="24">
                  <input
                    class="w-full rounded-4 border-normal border-1 text-[15px] dark:bg-white/10 dark:border-white/10 px-[20px] py-[12px] h-[30px] outline-none placeholder:text-[#A0A0A0] text-theme-gray dark:text-white/60"
                    nz-input name="text3" type="text" id="text3" placeholder="size='Small'">
                </nz-form-control>
              </nz-form-item>
            </form>
          </div>
        </div>
      </ng-container>
    </div>
    </div>
  